{% extends 'header.html' %}

{% block title %}首页{% endblock %}

{% block mystyle %}
<link href="/style.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="fullscreen-bg">
  <img src="/static/bg.jpg" alt="Background Image" class="fullscreen-bg-img">
  <div class="centered-text">
      <h1>微分地球</h1>
      <h3>基于深度学习技术的多模态局部地貌与土地利用规划辅助平台</h3>
  </div>
</div>

<!--<div class="container-fluid bg-primary text-white"  style=" height: calc(100vh - 58px);">
    <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
        <!-- 指示符 -->
<!--        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- 轮播图片 -->
<!--        <div class="carousel-inner justify-content-center align-items-center">
            <div class="carousel-item active justify-content-center align-items-center">
              <img src="{{ url_for('static', filename='dc_result.png') }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                  <h5>多模态地貌识别</h5>
                  <p>基于多模态遥感数据的地貌识别算法</p>
                </div>
            </div>

            <div class="carousel-item justify-content-center align-items-center">
              <img src="{{ url_for('static', filename="1617952291853010.png") }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                  <h5>国土规划辅助</h5>
                  <p>集合大模型技术的国土空间规划辅助</p>
                </div>
            </div>

            <div class="carousel-item justify-content-center align-items-center">
              <img src="{{ url_for('static', filename='tntw_valley.png') }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                  <h5>深度学习土地利用识别</h5>
                  <p>基于深度学习技术的土地利用分类</p>
                </div>
            </div>
          </div>

        <!-- 左右切换按钮 -->
<!--        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>-->

<div class="container p-5 my-5 bg-primary text-white">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- 指示符 -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- 轮播图片 -->
        <div class="carousel-inner justify-content-center align-items-center">
            <div class="carousel-item active justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='dc_result.png') }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                    <h5>多模态地貌识别</h5>
                    <p>基于多模态遥感数据的地貌识别算法</p>
                </div>
            </div>
            <div class="carousel-item justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='1617952291853010.png') }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                    <h5>国土规划辅助</h5>
                    <p>集合大模型技术的国土空间规划辅助</p>
                </div>
            </div>
            <div class="carousel-item justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='tntw_valley.png') }}" class="img-fluid d-block w-100" style="width:500px; height:500px" alt="Responsive width">
                <div class="carousel-caption d-none d-md-block">
                    <h5>深度学习土地利用识别</h5>
                    <p>基于深度学习技术的土地利用分类</p>
                </div>
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

{% endblock %}